body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-color: #2d545e;
  color: #e1b382;
}
.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #12343b;
  color: #7CFC00;
}
.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin: 0;
}
.subtitle {
  font-size: 18px;
  color: #e1b382;
}
.nav-grid {
  margin: 40px auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 0 20px;
}
.nav-card {
  background-color: #c89666;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #12343b;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}
.nav-card:hover {
  background-color: #e1b382;
  color: #228B22;
  transform: translateY(-5px);
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #12343b;
  color: #7CFC00;
  margin-top: 40px;
}
